name: Double Down CI

on: [push]

env:
  BUILD_TYPE: Release
  HDF5_ROOT: /usr
  DDBUILD: $HOME/opt/DD
  DDHOME: $GITHUB_WORKSPACE
  LD_LIBRARY_PATH: $HOME/EMBREE/lib:$HOME/MOAB/lib:$HOME/DAGMC/lib:$HOME/dd/lib
  DISPLAY: 99.0

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: MOAB Build
      shell: bash
      run: ls ${{runner.workspace}}
      run: ls ${{runner.workspace}}/ci
      run: ${{runner.workspace}}/ci/moab-install.sh
      
    - name: Embree Build
      shell: bash
      run: ${{runner.workspace}}/ci/embree-install.sh
      
    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{runner.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_INSTALL_PREFIX=$HOME/dd -DMOAB_DIR=$HOME/MOAB -DEMBREE_DIR=$HOME/MOAB

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C $BUILD_TYPE

    - name: DAGMC Build and Test
      shell: bash
      run: ${{runner.workspace}}/ci/dagmc-install.sh
